absl-py==2.1.0
immutabledict==4.2.1
numpy==2.0.2
ortools==9.12.4544
pandas==2.2.3
protobuf==5.29.3
python-dateutil==2.9.0.post0
pytz==2025.1
six==1.17.0
tzdata==2025.1
torch~=2.6.0
matplotlib~=3.9.4
networkx~=3.2.1
torch-geometric~=2.6.1